Checks: >
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -bugprone-exception-escape,
  -modernize-avoid-c-arrays,
  -modernize-use-auto,
  -modernize-use-equals-default,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-redundant-access-specifiers,
  -readability-redundant-member-init,
  -readability-use-concise-preprocessor-directives

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

FormatStyle: file
