Checks: >
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -modernize-use-equals-default,
  -modernize-use-trailing-return-type,
  -readability-redundant-member-init

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

FormatStyle: file
